#parent{
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit,minmax( 200px,1fr));
    
}
#parent > img{
    width:100%;
    
    border-radius: 20px;
}